blinker==1.6.2
Brotli==1.0.9
certifi==2022.9.24
chardet==5.1.0
click==8.1.6
colorama==0.4.6
configobj==5.0.8
cryptography==38.0.4
distro==1.8.0
distro-info
firebase-admin



Flask==2.0.2
google-cloud-storage
gunicorn==20.1.0

